/* Base Box */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  background-color: #354152;
  color: #7e8ba3;
}

/* Layout Format */

/* Centers the login box in the middle of the page */
.align {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Sets the width of the login box and centers it horizontally */
.grid {
  width: 100%;
  max-width: 25rem;
  margin: 0 auto;
}

/* Login box */
.register {
  text-align: center;
  padding: 4rem 2rem;
  box-shadow: 0 0 250px #000;
  background: rgba(255,255,255,0.04);
  border-radius: 12px;
}

/* Title - Enclav3 */

/* Title and the Subtile */
.brand {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 0.9rem;
  color: #7e8ba3;
  margin-bottom: 2rem;
}

/* Input and Spacing */

.form__field {
  margin-bottom: 1rem;
}

input {
  width: 100%;
  padding: 0.6rem 1rem;
  border-radius: 999px;
  border: 1px solid #242c37;
  background: transparent;
  color: #fff;
  text-align: center;
  outline: none;
  font-size: 14px;
}

input::placeholder {
  color: #7e8ba3;
}

/* Green unlock button*/

input[type="submit"] {
  background: linear-gradient(160deg, #8ceabb 0%, #378f7b 100%);
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

input[type="submit"]:hover {
  opacity: 0.9;
}

/* Helper text for Sizing */
p {
  font-size: 13px;
  margin-top: 1.5rem;
}