<!--
Name: login.html
Authors: Jack Morice, Nick Greico, Alex Carrillo, Gunther Luechtefield
Description: This file contains the HTML template for the login page of the Enclav3 application. 
It defines the structure and layout of the login page, including a form for entering the master password.
Inputs: Master password
Outputs: Rendered HTML page for login, redirect to main page on successful login, and error message if password is incorrect
--> 
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Enclav3 Master Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">

</head>


<body class="align">

  <div class="grid">
    <div class="register">

      <div class="brand">Enclav3</div>
      <div class="subtitle">Enter your master password</div>

      <form class="form" method="POST" action="/">
        <div class="form__field">
          <input type="password" name="master_password" placeholder="Master password" required />
        </div>

        <div class="form__field">
          <input type="submit" value="Unlock" />
        </div>
      </form>

      <a href="/signup" class="secondary">First time? Create a master password.</a>

    </div>
  </div>

</body>
</html>