<!DOCTYPE html>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


<body>
    <label for="tier1">Tier 1</label>
    <select name="tier1" id="unimportant">
        <option value="Nike">Nike</option>
        <option value="Nike 2">Nike 2</option>
    </select>


    <label for="tier2">Tier 2</label>
    <select name="tier2" id="semi-important">
        <option value="Netflix">Netflix</option>
    </select> 


    <label for="tier3">Tier 3</label>
    <select name="tier3" id="important">
        <option value="FASFA Login">FASFA</option>
    </select>



</body>


</html>